<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <template is="dom-repeat" items="{{accounts}}">
        <h3>IBAN - {{item.IBAN}}</h3>
        <h3>Saldo - {{item.balance}}</h3>
      </br>
    </template>
    <iron-ajax
      auto
      id="getUserAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showDataAccounts">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          userid: {
            type: String
          },
          balance:{
            type: Number
          },
          accounts:{
            type:Array
          }
        };
      }
      traeCuentas(){
        console.log("El usuario ha pulsado el botón");
        this.$.getUserAccounts.generateRequest();
      }
      showDataAccounts(data){
        console.log("showDataAccounts");
        console.log(data.detail.response[0]);
        /*this.iban = data.detail.response[0].IBAN;
        this.userid = data.detail.response[0].userID;
        this.balance = data.detail.response[0].balance;*/
        this.accounts=data.detail.response;

      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
