<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../visor-usuario/visor-cuenta.html">


<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="jumbotron">
      <h1>TEST IRON PAGES</h1>
    </div>
    <input type="text" value="{{componentName::input}}"></input>
    <iron-pages  selected="[[componentName]]" attr-for-selected="component-name">
      <!--<section></section>
      <section></section>
      <section></section>-->
      <div component-name="login-usuario"><login-usuario></login-usuario></div>
      <div component-name="visor-usuario"><visor-usuario id=31></visor-usuario></div>
      <div component-name="visor-cuenta"><visor-cuenta userid=31></visor-cuenta></div>
    </iron-pages>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
  class TestIronPages extends Polymer.Element {
    static get is() { return 'test-iron-pages'; }
    static get properties() {
        componentName : String
      return {
      };
    }

  }
    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
