<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h2>Soy el emisor</h2>
    <button on-click="sendEvent">No pulsar</button>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
  class EmisorEvento extends Polymer.Element {
    static get is() { return 'emisor-evento'; }
    static get properties() {
      return {
      };
    }
    sendEvent(e){
      console.log("Pulsado el botón");
      console.log(e);
      this.dispatchEvent(
        new CustomEvent(
            "myevent",
            {
              "detail" : {
                "course" : "Techu",
                "year" : 2018
              }
            }
        )
      );
    }

  }
    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
