<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="borrador-front-proyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es [[email]] </h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BorradorFrontProyectoApp extends Polymer.Element {
      static get is() { return 'borrador-front-proyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email:{
            type: String
          }
        };
      }
    }

    window.customElements.define(BorradorFrontProyectoApp.is, BorradorFrontProyectoApp);
  </script>
</dom-module>
